/.vs/ClassLibrary1/FileContentIndex/*.vsidx
*.vsidx
*.props
*.targets
net6.0
obj
/.vs/Utilities/v17/*.suo
/.vs/ProjectEvaluation/utilities.metadata.v7.bin
/.vs/ProjectEvaluation/utilities.projects.v7.bin
/.vs/Utilities/DesignTimeBuild/.dtbcache.v2
/.vs/Utilities/v17/.futdcache.v2
